@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  position: relative;
  flex: 11;
  max-width: 300px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
}

.image img {
  opacity: 0.8;
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
}

.image:hover img {
  opacity: 1;
}

.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

.image .details h2 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}

.image .details h2 span {
  font-weight: 900;
}

.image:hover .details h2 {
  transform: translateY(-30px);
}

.image .details p {
  margin: 30px 30px 0 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
}

.image:hover .details p {
  opacity: 1;
  transform: translateY(-40px);
}

.more {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s;
  transition-property: bottom;
}

.image:hover .more {
  bottom: 0;
}

.more .read-more {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.more .read-more span {
  font-weight: 900;
}

.more .icon-links i {
  color: #000;
  font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
  margin-right: 20px;
}

/* Responsive CSS */

@media (max-width: 1080px) {
  .image {
    flex: 100%;
    max-width: 480px;
  }
}

@media (max-width: 400px) {
  .image .details p {
    font-size: 16px;
  }

  .more .read-more,
  .more .icon-links a i {
    font-size: 18px;
  }
}

.span {
  color: #7958d7;

  text-align: left;
  font: normal normal medium 27px/32px Work Sans;
  letter-spacing: 0.27px;
  opacity: 1;
}
.span h3 {
  text-align: left;
  font: normal normal medium 27px/32px Work Sans;
  letter-spacing: 0.27px;
  opacity: 1;
}

.heresection {
  text-align: center;
  align-items: center;
  color: var(--unnamed-color-333333);
  text-align: bottom;
  letter-spacing: 0.48px;
  color: #fff;
  opacity: 1;
  padding: 1rem;
}

.paragraph {
  margin-top: 85px;
  height: 38px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  word-spacing: 4px;
  letter-spacing: 0.32px;
  color: #9a9999;
  opacity: 1;
  font-size: 22px;
  margin-bottom: 35px;
}
.btn1 {
  display: flex;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0px;
  color: #d2d2d2;
  opacity: 1;
  width: 80%;
  margin: auto;
}

.place {
  color: #000;
}

.search_icons {
  margin-left: -2.8rem;
}
.hands {
  font-size: 2.375rem;
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.48px;
  color: #333333;
  opacity: 1;
}

.me-2 {
  align-items: center;
  color: #000;
}

.btn2 {
  color: #000;
}
/* step4 css */

.buttons1 {
  width: 100px;
  padding: 10px 0;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: #7958d7 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Links {
  text-decoration: none;
  margin: -39px 0 0 79px;
}

.cat {
  margin: 0 0 0 -30px;
}
